body {
    position: relative;
}

.blur {
    position: absolute;
    z-index: -1;
    height: 20rem;
    width: 20rem;
    background-color: aqua;
    border-radius: 50%;
    filter: blur(200px);
    right: 3rem;
    top: 25rem;
}

.blur2 {
    position: absolute;
    z-index: -1;
    height: 20rem;
    width: 20rem;
    background-color: aqua;
    border-radius: 50%;
    filter: blur(300px);
    left: 3rem;
    top: 0rem;
}
